apiVersion: apps/v1
kind: Deployment
metadata:
  name: flask-devops
spec:
  replicas: 1
  selector:
    matchLabels:
      app: flask-app
  template:
    metadata:
      labels:
        app: flask-app
    spec:
      containers:
      - name: flask-container
        image: ghcr.io/batz02/flask_devops:latest
        env:
        - name: DATABASE_HOST
          value: "db"
        - name: SQLALCHEMY_DATABASE_URI
          value: "postgresql://flask:passwordhere@db:5432/blog"
---
apiVersion: v1
kind: Service
metadata:
  name: flask-devops-service
spec:
  type: NodePort
  selector:
    app: flask-app
  ports:
  - port: 80        
    targetPort: 8080
    nodePort: 30080