apiVersion: v1
kind: Secret
metadata:
  name: app-secrets
type: Opaque
stringData:
  # Questa è la password che userà il database Postgres
  POSTGRES_PASSWORD: passwordhere
  # Questa è una chiave per le sessioni di Flask (puoi scrivere quello che vuoi)
  FLASK_SECRET_KEY: chiave_segreta_per_esame_cloud